/* line 2, /Users/jonathan/Projects/luca/app/assets/stylesheets/luca/components/checkbox_array.scss */
.luca-ui-checkbox-array input.array-checkbox, .luca-checkbox-array input.array-checkbox {
  display: inline-block; }
/* line 3, /Users/jonathan/Projects/luca/app/assets/stylesheets/luca/components/form_view.scss */
.luca-form-view.label-align-top .luca-ui-field label, .luca-form-view.label-align-top .luca-ui-field input, .luca-form-view.label-align-top .luca-ui-field select, .luca-form-view.label-align-top .luca-ui-field textarea {
  display: block; }
/* line 2, /Users/jonathan/Projects/luca/app/assets/stylesheets/luca/components/grid_view.scss */
.scrollable-g-view {
  /* define height and width of scrollable area. Add 16px to width for scrollbar          */
  /* Reset overflow value to hidden for all non-IE browsers. */
  /* define width of table. IE browsers only                 */
  /* define width of table. Add 16px to width for scrollbar.           */
  /* All other non-IE browsers.                                        */
  /* set table header to a fixed position. WinIE 6.x only                                       */
  /* In WinIE 6.x, any element with a position property set to relative and is a child of       */
  /* an element that has an overflow property set, the relative value translates into fixed.    */
  /* Ex: parent element DIV with a class of tableContainer has an overflow property set to auto */
  /* set THEAD element to have block level attributes. All other non-IE browsers            */
  /* this enables overflow to work on TBODY element. All other non-IE, non-Mozilla browsers */
  /* make the TH elements pretty */
  /* make the A elements pretty. makes for nice clickable headers                */
  /* make the A elements pretty. makes for nice clickable headers                */
  /* WARNING: swapping the background on hover may cause problems in WinIE 6.x   */
  /* define the table content to be scrollable                                              */
  /* set TBODY element to have block level attributes. All other non-IE browsers            */
  /* this enables overflow to work on TBODY element. All other non-IE, non-Mozilla browsers */
  /* induced side effect is that child TDs no longer accept width: auto                     */
  /* define width of TH elements: 1st, 2nd, and 3rd respectively.          */
  /* Add 16px to last TH for scrollbar padding. All other non-IE browsers. */
  /* http://www.w3.org/TR/REC-CSS2/selector.html#adjacent-selectors        */
  /* define width of TD elements: 1st, 2nd, and 3rd respectively.          */
  /* All other non-IE browsers.                                            */
  /* http://www.w3.org/TR/REC-CSS2/selector.html#adjacent-selectors        */ }
  /* line 4, /Users/jonathan/Projects/luca/app/assets/stylesheets/luca/components/grid_view.scss */
  .scrollable-g-view .luca-ui-g-view-body {
    clear: both;
    overflow: auto; }
  /* line 10, /Users/jonathan/Projects/luca/app/assets/stylesheets/luca/components/grid_view.scss */
  .scrollable-g-view .luca-ui-g-view-body {
    overflow: hidden; }
  /* line 14, /Users/jonathan/Projects/luca/app/assets/stylesheets/luca/components/grid_view.scss */
  .scrollable-g-view .luca-ui-g-view-body .empty-text-wrapper {
    display: block;
    margin: 10px auto;
    width: 30%;
    padding: 50px;
    text-align: center; }
    /* line 20, /Users/jonathan/Projects/luca/app/assets/stylesheets/luca/components/grid_view.scss */
    .scrollable-g-view .luca-ui-g-view-body .empty-text-wrapper p {
      color: #aaa; }
  /* line 37, /Users/jonathan/Projects/luca/app/assets/stylesheets/luca/components/grid_view.scss */
  .scrollable-g-view thead.fixed tr {
    position: relative; }
  /* line 43, /Users/jonathan/Projects/luca/app/assets/stylesheets/luca/components/grid_view.scss */
  .scrollable-g-view thead.fixed tr {
    display: block; }
  /* line 48, /Users/jonathan/Projects/luca/app/assets/stylesheets/luca/components/grid_view.scss */
  .scrollable-g-view thead.fixed th {
    font-weight: bold;
    text-align: left; }
  /* line 54, /Users/jonathan/Projects/luca/app/assets/stylesheets/luca/components/grid_view.scss */
  .scrollable-g-view thead.fixed a, .scrollable-g-view thead.fixed a:link, .scrollable-g-view thead.fixed a:visited {
    color: #FFF;
    display: block;
    text-decoration: none;
    width: 100%; }
  /* line 63, /Users/jonathan/Projects/luca/app/assets/stylesheets/luca/components/grid_view.scss */
  .scrollable-g-view thead.fixed a:hover {
    color: #FFF;
    display: block;
    text-decoration: underline;
    width: 100%; }
  /* line 74, /Users/jonathan/Projects/luca/app/assets/stylesheets/luca/components/grid_view.scss */
  .scrollable-g-view tbody.scrollable {
    display: block;
    overflow: auto;
    width: 100%; }
  /* line 83, /Users/jonathan/Projects/luca/app/assets/stylesheets/luca/components/grid_view.scss */
  .scrollable-g-view thead.fixed th {
    padding: 5px; }
  /* line 90, /Users/jonathan/Projects/luca/app/assets/stylesheets/luca/components/grid_view.scss */
  .scrollable-g-view tbody.scrollable td {
    padding: 5px; }

/* line 97, /Users/jonathan/Projects/luca/app/assets/stylesheets/luca/components/grid_view.scss */
.luca-ui-g-view .toolbar-container {
  float: left;
  width: 100%;
  clear: both;
  display: block;
  padding-right: 12px; }
  /* line 103, /Users/jonathan/Projects/luca/app/assets/stylesheets/luca/components/grid_view.scss */
  .luca-ui-g-view .toolbar-container .luca-ui-toolbar {
    padding: 2px 0px; }
/* line 1, /Users/jonathan/Projects/luca/app/assets/stylesheets/luca/components/load_mask.scss */
.with-mask {
  position: relative; }
  /* line 4, /Users/jonathan/Projects/luca/app/assets/stylesheets/luca/components/load_mask.scss */
  .with-mask .load-mask {
    background-color: rgba(255, 255, 255, 0.6);
    width: 100%;
    height: 100%;
    position: absolute; }
    /* line 9, /Users/jonathan/Projects/luca/app/assets/stylesheets/luca/components/load_mask.scss */
    .with-mask .load-mask .progress {
      margin: 50px auto;
      width: 50%; }
/* define height and width of scrollable area. Add 16px to width for scrollbar          */
/* line 3, /Users/jonathan/Projects/luca/app/assets/stylesheets/luca/components/table_view.scss */
._scrollable-wrapper {
  clear: both;
  overflow: auto; }

/* Reset overflow value to hidden for all non-IE browsers. */
/* line 9, /Users/jonathan/Projects/luca/app/assets/stylesheets/luca/components/table_view.scss */
._scrollable-wrapper {
  overflow: hidden; }

/* define width of table. IE browsers only                 */
/* define width of table. Add 16px to width for scrollbar.           */
/* All other non-IE browsers.                                        */
/* line 22, /Users/jonathan/Projects/luca/app/assets/stylesheets/luca/components/table_view.scss */
.luca-scrollable-table-view {
  /* set table header to a fixed position. WinIE 6.x only                                       */
  /* In WinIE 6.x, any element with a position property set to relative and is a child of       */
  /* an element that has an overflow property set, the relative value translates into fixed.    */
  /* Ex: parent element DIV with a class of tableContainer has an overflow property set to auto */
  /* set THEAD element to have block level attributes. All other non-IE browsers            */
  /* this enables overflow to work on TBODY element. All other non-IE, non-Mozilla browsers */
  /* make the TH elements pretty */
  /* make the A elements pretty. makes for nice clickable headers                */
  /* make the A elements pretty. makes for nice clickable headers                */
  /* WARNING: swapping the background on hover may cause problems in WinIE 6.x   */
  /* define the table content to be scrollable                                              */
  /* set TBODY element to have block level attributes. All other non-IE browsers            */
  /* this enables overflow to work on TBODY element. All other non-IE, non-Mozilla browsers */
  /* induced side effect is that child TDs no longer accept width: auto                     */
  /* define width of TH elements: 1st, 2nd, and 3rd respectively.          */
  /* Add 16px to last TH for scrollbar padding. All other non-IE browsers. */
  /* http://www.w3.org/TR/REC-CSS2/selector.html#adjacent-selectors        */
  /* define width of TD elements: 1st, 2nd, and 3rd respectively.          */
  /* All other non-IE browsers.                                            */
  /* http://www.w3.org/TR/REC-CSS2/selector.html#adjacent-selectors        */ }
  /* line 28, /Users/jonathan/Projects/luca/app/assets/stylesheets/luca/components/table_view.scss */
  .luca-scrollable-table-view thead.fixed tr {
    position: relative; }
  /* line 34, /Users/jonathan/Projects/luca/app/assets/stylesheets/luca/components/table_view.scss */
  .luca-scrollable-table-view thead.fixed tr {
    display: block; }
  /* line 39, /Users/jonathan/Projects/luca/app/assets/stylesheets/luca/components/table_view.scss */
  .luca-scrollable-table-view thead.fixed th {
    font-weight: bold;
    text-align: left; }
  /* line 45, /Users/jonathan/Projects/luca/app/assets/stylesheets/luca/components/table_view.scss */
  .luca-scrollable-table-view thead.fixed a, .luca-scrollable-table-view thead.fixed a:link, .luca-scrollable-table-view thead.fixed a:visited {
    color: #FFF;
    display: block;
    text-decoration: none;
    width: 100%; }
  /* line 54, /Users/jonathan/Projects/luca/app/assets/stylesheets/luca/components/table_view.scss */
  .luca-scrollable-table-view thead.fixed a:hover {
    color: #FFF;
    display: block;
    text-decoration: underline;
    width: 100%; }
  /* line 65, /Users/jonathan/Projects/luca/app/assets/stylesheets/luca/components/table_view.scss */
  .luca-scrollable-table-view tbody.scrollable {
    display: block;
    overflow: auto;
    width: 100%; }
  /* line 74, /Users/jonathan/Projects/luca/app/assets/stylesheets/luca/components/table_view.scss */
  .luca-scrollable-table-view thead.fixed th {
    padding: 5px; }
  /* line 81, /Users/jonathan/Projects/luca/app/assets/stylesheets/luca/components/table_view.scss */
  .luca-scrollable-table-view tbody.scrollable td {
    padding: 5px; }
/* line 1, /Users/jonathan/Projects/luca/app/assets/stylesheets/luca/components/viewport.scss */
html.luca-ui-fullscreen, body.luca-ui-fullscreen {
  height: 100%; }

/* line 6, /Users/jonathan/Projects/luca/app/assets/stylesheets/luca/components/viewport.scss */
.luca-ui-fullscreen .luca-viewport, .luca-ui-fullscreen .luca-ui-viewport, .luca-ui-fullscreen .fullscreen-container {
  min-height: 100%;
  height: auto !important;
  height: 100%; }
/* line 1, /Users/jonathan/Projects/luca/app/assets/stylesheets/luca/containers/container.scss */
.toolbar-container {
  clear: both; }

/* line 5, /Users/jonathan/Projects/luca/app/assets/stylesheets/luca/containers/container.scss */
.toolbar-container.top {
  height: 54px; }

/* line 9, /Users/jonathan/Projects/luca/app/assets/stylesheets/luca/containers/container.scss */
.toolbar-container.bottom {
  margin-top: 0px; }

/* line 14, /Users/jonathan/Projects/luca/app/assets/stylesheets/luca/containers/container.scss */
.luca-ui-fullscreen .luca-application.fullscreen-enabled, .luca-ui-fullscreen .luca-controller, .luca-ui-fullscreen .luca-controller > .luca-ui-card {
  min-height: 100%;
  height: auto !important;
  height: 100%; }
/* line 1, /Users/jonathan/Projects/luca/app/assets/stylesheets/luca/containers/panels.scss */
.luca-ui-toolbar {
  float: left;
  clear: both;
  width: 100%;
  padding: 5px; }
  /* line 7, /Users/jonathan/Projects/luca/app/assets/stylesheets/luca/containers/panels.scss */
  .luca-ui-toolbar .align-right {
    float: right; }
  /* line 11, /Users/jonathan/Projects/luca/app/assets/stylesheets/luca/containers/panels.scss */
  .luca-ui-toolbar .btn-group {
    margin: 0px 2px; }
  /* line 15, /Users/jonathan/Projects/luca/app/assets/stylesheets/luca/containers/panels.scss */
  .luca-ui-toolbar.toolbar-bottom {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px; }
  /* line 19, /Users/jonathan/Projects/luca/app/assets/stylesheets/luca/containers/panels.scss */
  .luca-ui-toolbar.toolbar-top {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px; }
/* line 3, /Users/jonathan/Projects/luca/app/assets/stylesheets/luca/containers/tab_view.scss */
.luca-tab-view .luca-ui-card .luca-ui-grid-view, .luca-tab-view .luca-ui-card .luca-form-view, .luca-tab-view .luca-ui-card .luca-ui-card {
  overflow: hidden; }

/* line 10, /Users/jonathan/Projects/luca/app/assets/stylesheets/luca/containers/tab_view.scss */
.luca-tab-view.tabs-below .tab-selector-container, .luca-tab-view.tabs-right .tab-selector-container {
  display: block;
  clear: both; }

/* line 17, /Users/jonathan/Projects/luca/app/assets/stylesheets/luca/containers/tab_view.scss */
.luca-tab-view.tabs-left .tab-selector-container {
  float: left; }
  /* line 18, /Users/jonathan/Projects/luca/app/assets/stylesheets/luca/containers/tab_view.scss */
  .luca-tab-view.tabs-left .tab-selector-container ul.nav-tabs {
    padding: 0px; }
/* line 24, /Users/jonathan/Projects/luca/app/assets/stylesheets/luca/containers/tab_view.scss */
.luca-tab-view.tabs-left .tab-content {
  float: left; }

/* line 30, /Users/jonathan/Projects/luca/app/assets/stylesheets/luca/containers/tab_view.scss */
.luca-tab-view.tabs-right .tab-selector-container {
  float: right; }
/* line 33, /Users/jonathan/Projects/luca/app/assets/stylesheets/luca/containers/tab_view.scss */
.luca-tab-view.tabs-right .tab-content {
  float: left; }
/*


*/
